<div class="side-menu" [ngClass]="{'open': isMenuOpen}">
    <button class="close-btn" style="padding-right: 15px" (click)="onClose()">{{estudiante.nombre}}</button>
    <ul>
      <li >{{estudiante.estudios}}</li>
    </ul>
    <ul>
      <li><a [routerLink]="['/usuario', 'ofertas', 'favoritas']">Favoritos</a></li>
      <li><a href="#">Mis proyectos</a></li>
      <li><a href="#">Configuración</a></li>
      <!-- Más opciones -->

    </ul>
   
    <br>
    <ul>
      <li>    <div class="card card-shadow">
        <button class="btn btn-danger" (click)="logOut()">Log Out</button>
    </div></li>
    </ul>
    <br>
    <button class="btn btn-primary" (click)="onClose()">Cerrar</button>
  </div>
