<nav class="navbar navbar-expand-lg navbar-usuario">
  <div class="container-fluid px-5 align-items-center">
    <!-- Imagen de usuario -->
    <div class="d-flex align-items-center me-4">
      <img [src]="sessionUser.foto" alt="Usuario" class="user-img" (click)="onMenuButtonClick()">
    </div>

    <!-- Enlaces -->
    @if(rol === 'USUARIO'){
    <div class="d-flex justify-content-center flex-grow-1">
      <ul class="navbar-nav d-flex flex-ro align-items-center custom-gap">
        <li class="nav-item">
          <a class="nav-link nav-text" [routerLink]="['/usuario/home']" [class.active]="isActive('/usuario/home')">
            <i class="fas fa-home me-2 nav-icon"></i> INICIO
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" [routerLink]="['/usuario/proyectos']"
            [class.active]="isActive('/usuario/proyectos')">
            <i class="fa-solid fa-folder-closed me-2 nav-icon"></i> PROYECTOS
          </a>
        </li>
        @if (enProyectos) {
        <li class="nav-item">
          <a class="nav-link nav-text" [routerLink]="['/usuario/proyectos/anadirproyecto']"
            [class.active]="isActive('/usuario/proyectos/add')">
            <i class="fa-solid fa-circle-plus me-2 nav-icon"></i> AÑADIR
          </a>
        </li>
        }
        <li class="nav-item">
          <a class="nav-link nav-text" [routerLink]="['/usuario/ofertas']"
            [class.active]="isActive('/usuario/ofertas')">
            <i class="fas fa-briefcase me-2 nav-icon"></i> OFERTAS
          </a>
        </li>
      </ul>
    </div>
    }@else if (rol === 'EMPRESA') {
    <div class="d-flex justify-content-center flex-grow-1">
      <ul class="navbar-nav d-flex flex-ro align-items-center custom-gap">
        <li class="nav-item">
          <a class="nav-link nav-text" [routerLink]="['empresa/home']" [class.active]="isActive('/empresa/home')">
            <i class="fas fa-home me-2 nav-icon"></i> INICIO
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" [routerLink]="['/empresa/add']" [class.active]="isActive('/empresa/add')">
            <i class="fa-solid fa-square-plus me-2 nav-icon"></i> AÑADIR
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" [routerLink]="['/empresa/ofertas']"
            [class.active]="isActive('/empresa/ofertas')">
            <i class="fas fa-briefcase me-2 nav-icon"></i> MIS OFERTAS
          </a>
        </li>
      </ul>
    </div>
    }


    <!-- Buscador -->
    <div class="d-flex align-items-center me-4">
      <form class="d-flex align-items-center search-form">
        <input class="form-control search-input" type="search" placeholder="Buscador" aria-label="Buscar">
      </form>
    </div>

    <!-- Logo -->
    <div class="d-flex align-items-center">
      <img src="assets/logo/openTalent_logo_sinletras.png" alt="Logo" class="logo-img">
    </div>
  </div>
</nav>
