<div class="container-fluid">
  <div class="row min-vh-100">
    <!-- Columna izquierda: título e imagen más juntos -->
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center gap-2 px-5">
      <h1 class="mb-1">Open Talent</h1>
      <img src="assets/logo/OPEN_TALENT_con_desc.png" alt="Logo" class="img-fluid" style="max-width: 300px;">
    </div>

    <!-- Columna derecha: formulario centrado -->
    <div class="col-md-6 d-flex justify-content-center align-items-center px-5">
      <form [formGroup]="modelForm" (ngSubmit)="getUser()" class="w-100 p-4 border rounded shadow bg-white"
        style="max-width: 400px;">
        <h2 class="text-center mb-3">Iniciar sesión</h2>

        <div class="mb-3">
          <label for="name" class="form-label">Usuario</label>
          <input type="text" id="name" placeholder="username" class="form-control"
          autocomplete="username" formControlName="username">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" id="password" placeholder="Contraseña"
           class="form-control"
           autocomplete="current-password"  formControlName="password">
        </div>

        <div class="text-center">
          <input type="submit" class="btn btn-secondary w-100" value="Log In">
        </div>

        <div class="text-center mt-4">
          <p>
            Si deseas registrarte como estudiante, haz click
            <a [routerLink]="['/registro']">aquí</a>.
            <br><br>
            Si eres una empresa y quieres registrarte en nuestra web, haz click
            <a [routerLink]="['/registroEmpresa']">aquí</a>.
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
