<div data-tipo="Empresas" class="bg-light p-2 rounded shadow-sm border mt-5 d-flex flex-column justify-content-between"
  style="width: 381px; height: 285px;">

  <!-- Encabezado + descripción -->
  <div>
    <div class="d-flex align-items-center gap-3 mb-2">
      <img [src]="proyectoUnico.foto" class="rounded-circle border"
        style="width: 50px; height: 48px; box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);">
      <div class="fw-semibold fs-5 text-dark">{{proyectoUnico.nombre}}</div>
    </div>

    <div class="text-justify text-dark fs-6" style="font-size: 12px;">
      {{proyectoUnico.descripcion}}
    </div>
  </div>

  <!-- Imagen inferior siempre abajo -->
  <div class="text-center mt-2">
    <img [src]="proyectoUnico.fotoContenido" class="img-fluid" style="max-width: 259px; height: 113px;">
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <app-botonera [_id]="proyectoUnico.idProyecto"></app-botonera>
  </div>
  


