<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <!-- Sección: Sobre nuestra app -->
            <div class="col-md-4">
                <h5>Sobre nuestra app</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Quiénes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Trabajo con nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Ofertas de empleo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Empresas</a>
                    </li>
                </ul>
            </div>

            <!-- Sección: Contacto -->
            <div class="col-md-4">
                <h5>Contacto</h5>
            </div>

            <!-- Sección: Información adicional -->
            <div class="col-md-4">
                <h5>Información adicional</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Ayuda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Seguridad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Condiciones legales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Política de privacidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Política de cookies</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Sección de iconos sociales (Twitter, Facebook, Instagram) -->
        <div class="d-flex justify-content-end mt-4">
            <a href="#" class="me-3">
                <img src="/assets/img/icons/x.png" alt="Twitter" style="width: 30px; height: 30px;">

            </a>
            <a href="#" class="me-3">
                <img src="assets/icons/facebook-icon.png" alt="Facebook (falta icono)" style="width: 30px; height: 30px;">
            </a>
            <a href="#" class="me-3">
                <img src="assets/icons/instagram-icon.png" alt="Instagram (falta icono)" style="width: 30px; height: 30px;">
            </a>
        </div>
    </div>

  
</footer>
