<section class="container mt-3">
    <div class="card shadow p-3">
        <div class="row">
            <figure class="col-12 col-md-3">
                <img class="img-fluid" [src]="miProyecto.foto">
            </figure>
            <div class="col-12 col-md-9">
                <h2>{{miProyecto.nombre}}</h2>
                <hr>
                <p>Descripción: {{miProyecto.descripcion}}</p>
               
                <p>Plazas: {{miProyecto.plazasDisponibles}}</p>

            </div>
        </div>
    </div>
</section>

