<div class="container my-5">
  <!-- OFERTAS FAVORITAS -->
  <div class="mb-4">
    <h4 class="mb-3 fw-semibold">Ofertas Favoritas</h4>
    <div class="row">
      @for (oferta of arrOfertasFavoritas; track oferta.idOferta) {
      <div class="col-md-4 mb-4">
        <app-ofertas-usuario-card [OfertaUnica]="oferta"></app-ofertas-usuario-card>
      </div>

      }
    </div>
  </div>

  <!-- PROYECTOS FAVORITOS -->
  <div>
    <h4 class="mb-3 fw-semibold">Proyectos Favoritos</h4>
    <div class="row">

      @for (proyecto of arrProyectosFavortitos; track proyecto.idProyecto) {
      <div class="col-md-4 mb-4">
        <app-proyectos-usuario-card [proyectoUnico]="proyecto"></app-proyectos-usuario-card>
      </div>
      }

    </div>
  </div>
</div>
