<div class="card shadow-sm mb-3 mt-5 hover-card" style="border-radius: 12px;">
  <div class="card-body">

    <!-- Encabezado: imagen + título + acción favorita -->
    <div class="d-flex align-items-center mb-2">
      <a class="text-decoration-none text-dark card-trigger">
        <img
          [src]="OfertaUnica.foto"
          alt="logo"
          class="rounded-circle border me-3"
          style="width: 50px; height: 50px; object-fit: cover;"
        />
      </a>
      <h5 class="m-0 fw-bold flex-grow-1">
        {{ OfertaUnica.titulo }}
      </h5>
      <button
        (click)="toggleFavorita()"
        class="p-0 m-0 border-0 bg-transparent"
        style="outline: none; box-shadow: none; cursor: pointer;"
      >

      </button>
    </div>



    <!-- Enlace con descripción e imagen -->
    <a class="text-decoration-none text-dark card-trigger">
      <p class="mb-3 text-wrap" style="font-size: 0.9rem;">
        {{ OfertaUnica.descripcion }}
      </p>
      <img
        [src]="OfertaUnica.foto"
        alt="contenido"
        class="img-fluid rounded mb-2"
        style="max-height: 150px; object-fit: cover; width: 100%;"
      />
    </a>

    <!-- Botones de acción -->
    <div class="actions-container">
      <!-- Botón Editar -->
      <button mat-mini-fab
              [routerLink]="['/empresa', 'ofertas', 'edit', OfertaUnica.idOferta]"
              class="action-button edit-button"
              matTooltip="Editar oferta">
        <mat-icon>edit</mat-icon>
      </button>

      <!-- Botón Ver Postulantes -->
      <button mat-mini-fab
              [routerLink]="['/empresa', 'ofertas', 'verpostulantes' , OfertaUnica.idOferta]"
              class="action-button applicants-button"
              matTooltip="Ver postulantes">
        <mat-icon>group</mat-icon>
      </button>

            <!-- Botón Eliminar -->
            <button mat-mini-fab (click)="eliminarOferta(OfertaUnica.idOferta)" class="action-button delete-button"
              matTooltip="Eliminar oferta">
              <mat-icon>delete</mat-icon>
            </button>
    </div>

  </div>
</div>
